@font-face {
  font-family: 'Druk Wide';
  src: url('../fonts/DrukWide-Bold.woff2') format('woff2'),
       url('../fonts/DrukWide-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 